* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.wrapper, .content, .menu, body, html {
    font-family: Calibri;
    font-style: normal;
    height: 100%;
}

.wrapper {
    display: flex;
}

.content {
    flex: 1;
    padding: 40px;
    background: #FCFCFD;
}

.block {
    padding: 20px;
    background: #fff;
    border: 1px solid #CCCCCC;

}

.menu {
    width: 200px;
    background: #454E78;
}

.menu a {
    display: block;
    color: #FFF;
    padding: 10px;
}

